<link rel="stylesheet" href="../assets/css/components.css">

<nav class="DashBoard-SideBar">
    
    <!-- Header / logo -->
    <div class="sidebar-header">
        <button class="sidebar-toggle">
            <img src="./assets/image/Logo.png" alt="Logo">
        </button>
    </div>

    <!-- Menu -->
    <div class="Group-ul">
        <ul class="Group-a">

            <li>
                <a href="../index.html">
                    <i class="icon">🏠</i>
                    <span>Inicio</span>
                </a>
            </li>

            <li>
                <a href="../pages/catalogo.html">
                    <i class="icon">🛍️</i>
                    <span>Catalogo</span>
                </a>
            </li>

            <li>
                <a href="../pages/detalle.html">
                    <i class="icon">📄</i>
                    <span>Detalle</span>
                </a>
            </li>

            <li>
                <a href="../pages/historial.html">
                    <i class="icon">📊</i>
                    <span>Historial</span>
                </a>
            </li>

            <li>
                <a href="../pages/personas.html">
                    <i class="icon">👥</i>
                    <span>Clientes</span>
                </a>
            </li>

        </ul>
    </div>

</nav>